#stack {
    width: 190px; 
    height: 380px;
    border: solid 1px red;
    /* border-top: 0px; */
}

.tile {
    width: 17px;
    height: 17px;
    border: solid 1px white;
    background: white;
    float: left;
}
.tile.on {
    background-color: black;
}
.tile.now {
    background-color: green;
}
.score {
    align-content: right;
}
.pauseAttention {
    text-align: center;
    color: red;
    width: 17px;
    height: 195px;
}
button {
    border: 2px solid #2196F3;
    background-color: #2196F3;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2em;
}
button:hover {
    border: 2px solid #219600;
    background: #219600;
    color: white;
}